input:active .wave {
  display: none;
}

.purple {
  background-image: url("https://res.cloudinary.com/aurodim/image/upload/v1556073430/mercial/static/waves.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 101vw auto;

  & > .scroll-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    & > .spacer {
      flex: 0.3 1 auto;
      width: 100%;
    }
  }
}

@media (max-height: 600px) {
  .purple {
    background: none;
    background-image: none;
  }
}

.fd-item {
  padding: 0;
}

ion-slides {
  background: transparent;
}

.slide {
  background: transparent;
}

.slider-pager-page.active, .swiper-pagination-bullet-active {
  background: #fff !important;
  color: #fff !important;
}

.header-u-container {
  position: absolute;
  top: 2.813em; /* 45/16 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.heading {
  padding: 0em; /* 0/16 */
  margin: 0.188em; /* 3/16 */
}

.heading-two {
  padding: 0em; /* 0/16 */
  margin: 0.313em; /* 5/16 */
  font-size: 2.5em; /* 40/16 */
}

.ft-list {
  list-style-type: none;
  list-style: none;
  margin-left: 0em; /* 0/16 */
  padding: 0em; /* 0/16 */
}

.ft-list-item {
  color: #663399;
  margin-top: 0.625em; /* 10/16 */
  margin-bottom: 1.25em; /* 20/16 */
  padding-left: 1.875em; /* 30/16 */
  padding-right: 1.875em; /* 30/16 */
  text-align: center;
  font-size: 1em; /* 16/16 */
}

.testimonials {
  overflow: hidden;
  height: 12.5em; /* 200/16 */
  width: 100%;
  position: absolute;
}

.testimonials > h6 {
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: testimonial;
}

.testimony {
  color: #663399;
  width: 100%;
  margin-top: 3.75em; /* 60/16 */
  display: flex;
  font-size: 1.125em; /* 18/16 */
  justify-content: center;
  align-items: center;
}

ion-item.ng-invalid:not(.item-input-has-value).ng-dirty, ion-item[redify].ng-invalid.ng-dirty  {
  border-color: red;
}

.fd-button-full {
  width: 80%;
  height: 2.813em; /* 45/16 */
  box-shadow: 0em 0.063em 0.625em 0.063em rgba(0,0,0,0.1); /* 0/16, 1/16, 10/16, 1/16 */
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.item-input-has-value.input-has-focus.item-input-has-focus .item-inner, .item-md.item-input.ng-valid.input-has-value.input-has-focus.item-input-has-focus .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}


@keyframes testimonial {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

.consent {
  font-size: 0.75em; /* 12/16 */
}

.legal {
  font-weight: bold;
}

.beginSlides {
  margin-top: 9.375em; /* 150/16 */
  border-radius: 50%;
  background-color: white;
  color: #663399;
  width: 3.125em; /* 50/16 */
  height: 3.125em; /* 50/16 */
  font-size: 1.25em; /* 20/16 */
  box-shadow: 0.063em 0.063em 0.938em 0.063em rgba(68, 67, 73, 0.10) !important; /* 1/16, 1/16, 15/16, 1/16 */
}
