 ion-title[tb-header] > div {
  font-family: 'Satisfy';
  text-align: left;
  position: absolute;
  left: 0.625em; /* 10/16 */
  font-size: 2em;
}

*[transparent] {
  background: transparent;
  background-color: transparent;
}

ion-card[card-padding] {
  padding: 0.625em; /* 10/16 */
}

.list-ios > .item-block[transparent]:last-child {
  border-bottom: 0em solid transparent; /* 0/16 */
}

.list-ios > .item-block[transparent]:first-child {
  border-top: 0em solid transparent; /* 0/16 */
}

*[clickable] {
  cursor: pointer !important;
}

*[primary] {
  color: color($colors, primary, base) !important;
}

*[light] {
  color: #999999;
}

*[dark] {
  color: #343434 !important;
}

*[has-nav] {
  padding-top: 0.313em; /* 5/16 */
  height: calc(100% - 3.5em); /* 56/16 */
}

ion-card-header[header-font] {
  font-size: 2rem;
}

ion-card-header ion-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
}

ion-header + ion-nav, ion-header {
  position: relative !important;
}

ion-menu[has-nav] {
  top: 3.5em; /* 56/16 */
}

ion-label > p {
  height: auto;
  overflow: auto;
  white-space: normal;
}

ion-menu{
 ion-content{
  background-color: color($colors, primary, base) !important;
 }
}

agm-map {
  height: 28.125em !important; /* 450/16 */
}

feed-viewer, help-viewer, redeem-viewer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  background: rgba(0,0,0,0.4);
  top: 0;
  width: 100%;
  z-index: 1000000000000;
}

.spinner {
  margin: 0;
}

.viewer-container-hide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: 60em;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.8);
  color: #663399;
  z-index: 100000;
  bottom: 3em;
  width: 98%;
  height: 3em;
}

.list, ion-content {
  background-color: #f7f7f7 !important;
}

.viewer-container {
  height: auto;
  margin: 0 auto;
  border-radius: 1.25em; /* 20/16 */
  max-height: 95%;
  min-height: 18.75em; /* 300/16 */
  width: calc(100% - 1.25em); /* 20/16 */
  box-shadow: 0em 0.125em 0.938em 0.063em rgba(0, 0, 0, 0.3); /* 0/16, 2/16, 15/16, 1/16 */
  z-index: 2;
  overflow: hidden;
  display: flex;
  max-width: 60em;
  justify-content: center;
  align-items: center;
  background: black;
  animation: 0.2s ease-out 0s 1 videoGrow;

  & * {
    animation: 0.2s ease-out 0s 1 videoShrink;
  }

  &[qr] {
    position: relative;
    background: white;
  }
}

@keyframes videoGrow {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes videoGrow {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.success-fini {
  border-radius: 0.313em; /* 5/16 */
  background: white;
  width: 18.75em; /* 300/16 */
  height: 15.625em; /* 250/16 */
  left: calc((100% - 18.75em) / 2); /* 300/16 */
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

button[fd-button] {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

mercial-mercial {
  display: block;
  padding: 0.75em; /* 12/16 */
}

.toolbar-title-ios {
  font-size: 2.4rem !important;
}

ion-card[mercial], ion-card[offer] {
  position: relative;
  text-align: center;
  border-radius: 1.875em !important; /* 30/16 */
  background: transparent;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0.063em 0.063em 0.938em 0.063em rgba(03, 07, 13, 0.4) !important; /* 1/16, 1/16, 15/16, 1/16 */

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    content: "";
    background: rgba(0,0,0,0.65);
    z-index: 1;
    border-radius: 1.875em; /* 30/16 */
  }
}

ion-card {
  border-radius: 1.875em !important; /* 30/16 */
  box-shadow: 0.063em 0.063em 0.938em 0.063em rgba(68, 67, 73, 0.10) !important; /* 1/16, 1/16, 15/16, 1/16 */
  max-width: 50em;
  margin: 0 auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-card img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.875em; /* 30/16 */
}

.platform-ipad {
  & ion-card[size="small"] {
    min-height: 20.625em; /* 250/16 */
  }

  & cl-image[size="small"] > img, img[size="small"] {
    height: 20.625em; /* 250/16 */
    border-radius: 0.25em; /* 4/16 */
  }

  & ion-card[size="medium"] {
    min-height: 23.75em; /* 300/16 */
  }

  & cl-image[size="medium"] > img, img[size="medium"] {
    height: 23.75em; /* 300/16 */
  }

  & ion-card[size="large"] {
    min-height: 26.875em; /* 350/16 */
  }

  & cl-image[size="large"] > img, img[size="large"] {
    height: 26.875em; /* 350/16 */
  }
}

ion-card[size="small"] {
  min-height: 15.625em; /* 250/16 */
}

cl-image[size="small"] > img, img[size="small"] {
  height: 15.625em; /* 250/16 */
  border-radius: 0.25em; /* 4/16 */
}

ion-card[size="medium"] {
  min-height: 18.75em; /* 300/16 */
}

cl-image[size="medium"] > img, img[size="medium"] {
  height: 18.75em; /* 300/16 */
}

ion-card[size="large"] {
  min-height: 21.875em; /* 350/16 */
}

cl-image[size="large"] > img, img[size="large"] {
  height: 21.875em; /* 350/16 */
}

.card-banner[size="small"] {
  top: 11.438em; /* 183/16 */
}

.card-banner[size="medium"] {
  top: 14.563em; /* 233/16 */
}

.card-banner[size="large"] {
  top: 17.688em; /* 283/16 */
}

.fd-basis > ion-card {
  margin: 0.625em 0.625em 0.625em 0.625em !important; /* 10/16, 10/16, 10/16, 10/16 */
}

.fd-analytic-icon {
  border-radius: 50%;
  height: 2.813em; /* 45/16 */
  width: 2.813em; /* 45/16 */
  background: rgba(102, 51, 153, 0.2);
  box-shadow: none;
  pointer-events: none;
  position: relative;
  left: calc(50% - 1.406em); /* 22.5/16 */
  margin-top: 1.25em; /* 20/16 */
  margin-bottom: 0.625em; /* 10/16 */

  &[no-margin] {
    margin-top: 0em; /* 0/16 */
    margin-bottom: 1.25em; /* 20/16 */
  }
}

ion-item[no-margin] {
  margin-left: 0.313em; /* 5/16 */
  margin-right: 0.313em; /* 5/16 */
}

.fd-analytic-header {
  font-size: 2.6rem;
  padding: 0;
  font-weight: bold;
  text-align: center;

  &.large {
    font-size: 2.3rem;
  }
}

.fd-analytic-subtext {
  color: #5b5b5b;
  font-size: 1.15rem;
  padding: 0.625em 0.625em; /* 10/16, 10/16 */
  text-align: center;
}

.fd-message-modal-list {
  position: relative;
  margin: 0;
  border-bottom: 0.063em solid #663399; /* 1/16 */
  height: calc(100% - 3.438em); /* 55/16 */
  overflow: auto;
}

.fd-message-modal-item {
  float: left;
  height: 3.438em; /* 55/16 */
  padding-right: 1em; /* 16/16 */
  background-color: #663399;
}

.fd-form-divider {
  display: block;
  width: 1.25em; /* 20/16 */
  background: #639;
  height: 0.125em; /* 2/16 */
  position: relative;
  margin: 0 auto;
}

ion-avatar[center-item] {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item[message="sender"] {
  padding-right: 5em; /* 80/16 */
  float: left;
}

ion-item[message="reciever"] {
  padding-left: 5em; /* 80/16 */
  float: right;
}

ion-icon[avatar-font] {
  font-size: 2em;
}

ion-input[white-all] {
  color: white;
}

.text-input[white-all]::-moz-placeholder {
  color: white;
}

.text-input[white-all]:-ms-input-placeholder {
  color: white;
}

.text-input[white-all]::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.drawer-img {
  height: 12.5em; /* 200/16 */
  width: 100%;
}

button[button-icon] {
  position: absolute;
  bottom: 0;
  right: 0;
}

.item-md.item-input.item-input-has-focus[no-border] .item-inner, .item-md.item-input.input-has-focus[no-border]  .item-inner  {
  border-bottom-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.item-md.item-block[no-border] .item-inner {
  border-bottom-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: none;
}

button[drawer] > .button-inner {
  justify-content: flex-start;
}

.button-md[drawer] {
  height: 4.5rem;
}

ion-card[flex], ion-content[flex] > .scroll-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-content[overlay] {
  background: rgba(0,0,0,0.7);
}

.card-spacer {
  flex: 1 1 auto;
}

.card-title {
  position: relative;
  font-size: 1.7rem !important;
  width: 100%;
  color: #fff !important;
  display: flex;
  white-space: normal;
  justify-content: center;
  text-align: left;
  padding-top: 1.875em; /* 30/16 */
  padding-bottom: 0.313em; /* 5/16 */
  align-items: center;
  text-align: center;
  z-index: 1;
}

.card-title[menu] {
  padding-right: 0.625em; /* 10/16 */
}

.card-subtitle {
  font-size: 1.3rem !important;
  position: relative;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  white-space: normal;
  text-align: center;
  color: #fff !important;
  z-index: 1;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-bottom: 1.25em; /* 20/16 */

  & button {
    border-radius: 50%;
    margin-left: 0.625em; /* 10/16 */
    margin-right: 0.625em; /* 10/16 */
  }

  & button.little {
    background: #222;
    font-size: 0.75em; /* 12/16 */
    height: 2.8em; /* 30/16 */
    width: 2.8em; /* 30/16 */

    &.only {
        height: 3em;
        width: 3em;
        font-size: 0.8em;
      }

    &:hover {
      background: #222;
    }
  }

  & button.big {
    background: white;
    height: 2.813em; /* 45/16 */
    width: 2.813em; /* 45/16 */
    font-size: 1.25em; /* 20/16 */

    &:hover {
      background: white;
    }
    & ion-icon {
      color: black;

      &.ion-ios-play:before {
        margin-left: 0.1em; /* 5/16 */
      }
    }
  }
}

.card-click-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 1.25em; /* 20/16 */
}

.card-banner {
  position: absolute;
  top: 11.5em; /* 184/16 */
  padding-left: 0.75em; /* 12/16 */
  padding-right: 0.75em; /* 12/16 */
  padding-top: 0.219em; /* 3.5/16 */
  padding-bottom: 0.219em; /* 3.5/16 */
  border-bottom-left-radius: 0.25em; /* 4/16 */
  left: 0.625em; /* 10/16 */
  background: #663399;
}

.fd-card-icon {
  position: absolute;
  right: 0.313em; /* 5/16 */
  top: 0.313em; /* 5/16 */
  font-size: 5rem;
  color: white;
}

.fd-modal-video-handler {
  max-height: 95%;
  min-height: 18.75em; /* 300/16 */
  width: calc(100% - 1.25em); /* 20/16 */
  display: flex;
  max-width: 60em;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  background: rgba(0,0,0,0.8);
  border-radius: 1.25em; /* 20/16 */
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

  &[hideBack] {
    z-index: -10;
    opacity: 0;

    & * {
      z-index: -10;
      opacity: 0;
    }
  }

  & .play-pause {
    position: absolute;
    bottom: 1.25em; /* 20/16 */
    font-size: 1.625em; /* 26/16 */
    color: #e7e7e7;
    left: 0.938em; /* 15/16 */
  }

  & .time-text {
    color: white;
    position: relative;
    font-size: 0.75em; /* 12/16 */
    bottom: 2.5em; /* 40/16 */
    display: block;
    width: calc(100% - 5em); /* 80/16 */

    & .left {
      position: absolute;
      left: 0;
    }

    & .right {
      position: absolute;
      right: 0;
    }
  }

  & .timekeeper {
    position: relative;
    left: 0em; /* 0/16 */
    bottom: 1.25em; /* 20/16 */
    height: 0.5em; /* 8/16 */
    width: calc(100% - 5em); /* 80/16 */
    background: #e7e7e7;
    border-radius: 1.25em; /* 20/16 */
  }

  & .tks {
    width: 0%;
    position: absolute;
    left: 0;
    border-top-left-radius:1.25em; /* 20/16 */
    border-bottom-left-radius:1.25em; /* 20/16 */
    background: #663399;
    animation-name: timekeeper;
    animation-duration: 100s;
    animation-timing-function: linear;
    height: 100%;

    &.paused {
      animation-play-state: paused;
    }

    &::after {
      content: "";
      width: 1.125em; /* 18/16 */
      height: 1.125em; /* 18/16 */
      border-radius: 50%;
      background: #4b256f;
      z-index: 10000;
      display: block;
      top: -0.281em; /* -4.5/16 */
      transition: left 1s;
      position: absolute;
      left: calc(100% - 0.563em); /* 9/16 */
    }
  }
}

@keyframes timekeeper {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.fd-modal-video {
  background: black;
  max-height: 31.25em; /* 500/16 */
  max-width: 100%;
  width: fit-content;
  z-index: 1;
}

.fd-modal-metadata-container {
  min-height: 5.938em; /* 95/16 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.313em; /* 5/16 */
  padding-bottom: 0.313em; /* 5/16 */
}

.fd-modal-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.fd-modal-subheading {
  width: 100%;
  text-align: center;
  font-size: 0.875em; /* 14/16 */
}

.fd-modal-sublink {
  font-size: 0.875em; /* 14/16 */
  position: absolute;
  top: 0.125em; /* 2/16 */
  right: 0.313em; /* 5/16 */
  color: red;
}

agm-map {
  width: 100%;
  height: 100%;
}

.fd-modal-sec-solo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fd-modal-sublink {
  font-size: 0.875em; /* 14/16 */
  position: absolute;
  top: 0.125em; /* 2/16 */
  right: 0.313em; /* 5/16 */
  color: red;
}

.rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.star {
  display: inline;
  position: relative;
  width: 3em; /* 48/16 */
  font-size: 2rem;
  margin-left: 0.625em; /* 10/16 */
  margin-right: 0.625em; /* 10/16 */
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 10%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 0%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 20%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 40%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 10%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 0%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 20%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 40%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 10%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 0%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 20%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 40%; } }
