<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="break" showWhen="android,windows" small></div>
  <div class="fd-basis">
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="md-add" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text">
        {{ posts }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        mercials_posted
      </ion-card-content>
    </ion-card>
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="logo-usd" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        ${{ balance.toFixed(3) }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        current_balance
      </ion-card-content>
    </ion-card>
  </div>
  <div class="fd-basis">
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="time" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text">
        {{ secondsViewed | number }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        seconds_viewed
      </ion-card-content>
    </ion-card>
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="play" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        {{ views | number }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        views
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="topMercial">
    <button class="fd-analytic-icon" ion-button icon-only>
      <ion-icon name="star" color="primary"></ion-icon>
    </button>
    <ion-card-header class="fd-analytic-header large" primary>
      {{ topMercial }}
    </ion-card-header>
    <ion-card-content class="fd-analytic-subtext" translate>
      top_mercial
    </ion-card-content>
  </ion-card>

  <div class="break" small></div>
  <ion-card>
    <ion-card-header>
      {{'views' | translate}} <span class="fd-analytic-header-tiny mlr-extra-small" translate>$para$ads</span>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="300" height="400"
        [datasets]="viewsAdsData"
        [options]="lineChartOptions"
        [colors]="viewsAdsColors"
        [legend]="false"
        [labels]="lineChartLabels"
        [chartType]="lineChartType"></canvas>
    </ion-card-content>
  </ion-card>
  <div class="break" small></div>
  <ion-card>
    <ion-card-header>
      {{'views' | translate}} <span class="fd-analytic-header-tiny mlr-extra-small" translate>$para$tags</span>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart *ngIf="ready" width="300" height="400"
        [data]="viewsTagsData"
        [colors]="viewsTagsColors"
        [labels]="viewsTagsLabels"
        [chartType]="pieChartType"></canvas>
    </ion-card-content>
  </ion-card>
  <div class="break" small></div>
  <ion-card>
    <ion-card-header>
      {{'views' | translate}} <span class="fd-analytic-header-tiny mlr-extra-small" translate>$para$seconds</span>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="300" height="400"
        [datasets]="viewsSecData"
        [options]="lineChartOptions"
        [colors]="viewsSecColors"
        [legend]="false"
        [labels]="lineChartLabels"
        [chartType]="lineChartType"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
