<ion-header>
  <ion-navbar color="background">
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'edit_mercial' | translate}}</ion-title>
  </ion-navbar>
  <div class="progress-bar" [attr.value]="pageNumber+'/2'">

  </div>
</ion-header>

<ion-content>
  <form class="fd-form" fill style="left:0; height: 100%;" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="auth" name="auth" readonly required/>
    <input type="hidden" formControlName="id" name="id" readonly required/>
    <section [attr.hidden]="pageNumber == 1 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>information</h1>
      <div class="break" medium></div>
      <div class="break" small ldisplay></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary has-limit [placeholder]="'mercial_title' | translate" type="text" formControlName="title" autocomplete="title" autofocus maxlength="35" required #titleInput></ion-input>
        <button ion-button clear button-icon color="dark" type="button" item-right>{{ 35 - titleInput.value.length }}</button>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary has-limit style="padding-right: 5px !important" [placeholder]="'description' | translate" type="text" formControlName="description" autocomplete="description" maxlength="140" spellcheck="true" #descriptionInput></ion-input>
        <button ion-button clear button-icon color="dark" type="button" item-right>{{ 140 - descriptionInput.value.length }}</button>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border primary class="fd-item fd-input-holder" center>
        <ion-select [placeholder]="'size' | translate" primary style="width:100%; text-align:center; max-width: 100%;" formControlName="size" clickable required>
          <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
          <ion-option *ngFor="let option of sizes; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
    </section>
    <section [attr.hidden]="pageNumber == 2 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>sites$and$tags</h1>
      <div class="break" medium></div>
      <div class="break" small ldisplay></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="more" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="editForm.value.size === 'medium' || editForm.value.size === 'large'" class="break" small></div>
      <ion-item *ngIf="editForm.value.size === 'medium' || editForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreSecond" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="editForm.value.size === 'medium' || editForm.value.size === 'large'" class="break" small></div>
      <ion-item *ngIf="editForm.value.size === 'medium' || editForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreThird" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="editForm.value.size === 'large'" class="break" small></div>
      <ion-item *ngIf="editForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreFourth" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="editForm.value.size === 'large'" class="break" small></div>
      <ion-item *ngIf="editForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreFifth" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="editForm.value.size === 'large'" class="break" small></div>
      <ion-item *ngIf="editForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreSixth" autocomplete="url" url></ion-input>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'tags$list' | translate" type="text" formControlName="tags" autocomplete="off" required></ion-input>
      </ion-item>
    </section>

    <button clear style="position: fixed; bottom: 20px; left: 10px; z-index: 1; font-size: 1.4em" ion-button icon-only type="button" name="back" [disabled]="pageNumber == 1" (click)="onBack()">
      <ion-icon color="primary" name="arrow-back"></ion-icon>
    </button>
    <div class="fd-basis" style="position: fixed; bottom: 20px; width:calc(100% - 25px);">
      <button clear icon-only ion-button type="submit" name="submit" style="font-size: 1.4em" *ngIf="pageNumber == 2" [disabled]="editForm.invalid">
        <ion-icon color="primary" name="md-checkmark"></ion-icon>
      </button>
      <button clear icon-only ion-button type="button" name="button" style="font-size: 1.4em" *ngIf="pageNumber != 2" (click)="onDelete()">
        <ion-icon color="primary" name="md-trash"></ion-icon>
      </button>
    </div>
    <button clear style="position: fixed; bottom: 20px; right: 10px; font-size: 1.4em" ion-button icon-only type="button" name="back" [disabled]="pageNumber == 2" (click)="onNext()">
      <ion-icon color="primary" name="arrow-forward"></ion-icon>
    </button>
  </form>
  <mercial-loader [awaiting]="true" inline></mercial-loader>
</ion-content>
