<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <span class="break" small></span>

  <ion-item no-border class="fd-item fd-input-holder" center>
    <ion-input primary [placeholder]="'search' | translate" type="text" (keyup)="onSearch($event)" autofocus></ion-input>
  </ion-item>

  <ion-item no-lines transparent *ngFor="let mercial of mercials; let i = index">
    <app-mercial [mercialVideo]="mercial"></app-mercial>
  </ion-item>

  <ion-fab bottom right>
   <button ion-fab icon-only (click)="onAddClick()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
