<ion-content class="purple">
  <div class="spacer"></div>
  <form class="fd-form" fill #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <h1 class="fd-form-title" cursive primary>Mercial</h1>
    <div class="break" small></div>
    <h4 class="fd-form-subtitle" primary translate>mercial_advertisers</h4>
    <div class="break" medium></div>
    <ion-item no-border class="fd-item fd-input-holder" center>
      <ion-input type="email" primary [placeholder]="'email_address' | translate" name="email" autocomplete="email" required ngModel email></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item no-border class="fd-item fd-input-holder" center>
      <ion-input type="text" primary [placeholder]="'twelve-digit_key' | translate" name="accesskey" class="fd-input" autocomplete="accesskey" required spellcheck="false" maxlength="15" [ngModel]="formatted" (ngModelChange)="onKeyChange($event)"></ion-input>
    </ion-item>
    <div class="break" small ldisplay></div>
    <div class="break" small></div>
    <div class="fd-basis">
      <button caps ion-button round class="fd-button fd-button-full" color="primary" [disabled]="loginForm.invalid">{{'login' | translate}}</button>
    </div>
    <div class="break" small ldisplay></div>
    <p class="fd-form-text" center primary><a primary caps inline [navPush]="register" translate>register</a></p>
  </form>
</ion-content>
<mercial-loader></mercial-loader>
