<ion-content class="purple">
  <div class="spacer"></div>
  <form class="fd-form" fill #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
    <div class="break" medium></div>
    <h1 class="fd-form-title" cursive primary translate>register</h1>
    <div class="break" medium></div>
    <div class="break" ldisplay medium></div>

    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="text" primary [placeholder]="'full_name' | translate"  name="fullname" class="fd-input" autocomplete="name" autofocus required ngModel></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="email" primary [placeholder]="'email_address' | translate" name="email" autocomplete="email" required ngModel email></ion-input>
    </ion-item>
    <div class="break" small></div>
    <div class="break" small ldisplay></div>
    <div class="fd-basis">
      <button caps ion-button round color="primary" white class="fd-button fd-button-full" [disabled]="registerForm.invalid">{{'register' | translate}}</button>
    </div>
    <div class="break" small ldisplay></div>
    <p class="fd-form-text consent" center primary [innerHTML]="'tos' | translate"></p>
    <p class="fd-form-text" center white><a primary caps inline [navPush]="login" translate>log_in</a></p>
  </form>
</ion-content>
<mercial-loader></mercial-loader>
