<ion-header>
  <ion-navbar color="background">
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'new_mercial' | translate}}</ion-title>
  </ion-navbar>
  <div class="progress-bar" [attr.value]="pageNumber+'/3'">

  </div>
</ion-header>
<ion-content>
  <form class="fd-form" fill style="left:0; height: 100%;" [formGroup]="newMercialForm" (ngSubmit)="onSubmit()" encrypt="multipart/form-data">
    <input type="hidden" [ngModel]="authService.getAUTH()" formControlName="auth" name="auth" contenteditable="false" readonly required/>
    <section [attr.hidden]="pageNumber == 1 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>information</h1>
      <div class="break" medium></div>
      <div class="break" small ldisplay></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary has-limit [placeholder]="'mercial_title' | translate" type="text" formControlName="title" autocomplete="title" autofocus maxlength="35" required #titleInput></ion-input>
        <button ion-button clear button-icon color="dark" type="button" item-right>{{ 35 - titleInput.value.length }}</button>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary has-limit style="padding-right: 5px !important" [placeholder]="'description' | translate" type="text" formControlName="description" autocomplete="description" maxlength="140" spellcheck="true" #descriptionInput></ion-input>
        <button ion-button clear button-icon color="dark" type="button" item-right>{{ 140 - descriptionInput.value.length }}</button>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-select [placeholder]="'size' | translate" primary style="width:100%; text-align:center; max-width: 100%;" formControlName="size" clickable required>
          <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
          <ion-option *ngFor="let option of sizes; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
    </section>
    <section [attr.hidden]="pageNumber == 2 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>sites$and$tags</h1>
      <div class="break" medium></div>
      <div class="break" small ldisplay></div>
      <ion-item redify no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="more" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="newMercialForm.value.size === 'medium' || newMercialForm.value.size === 'large'" class="break" small></div>
      <ion-item redify *ngIf="newMercialForm.value.size === 'medium' || newMercialForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreSecond" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="newMercialForm.value.size === 'medium' || newMercialForm.value.size === 'large'" class="break" small></div>
      <ion-item redify *ngIf="newMercialForm.value.size === 'medium' || newMercialForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreThird" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="newMercialForm.value.size === 'large'" class="break" small></div>
      <ion-item redify *ngIf="newMercialForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreFourth" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="newMercialForm.value.size === 'large'" class="break" small></div>
      <ion-item redify *ngIf="newMercialForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreFifth" autocomplete="url" url></ion-input>
      </ion-item>
      <div *ngIf="newMercialForm.value.size === 'large'" class="break" small></div>
      <ion-item redify *ngIf="newMercialForm.value.size === 'large'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'http_learn_more' | translate" type="url" formControlName="moreSixth" autocomplete="url" url></ion-input>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'tags$list' | translate" type="text" formControlName="tags" autocomplete="off" required></ion-input>
      </ion-item>
      <div class="break" small></div>
      <div class="fd-basis">
        <button ion-button round caps class="mlr-small" type="button" color="primary" (click)="onChooseVideo()">{{ fileURI ? fileURI.substr(-10,10) : 'video' | translate}}</button>
      </div>
    </section>
    <section [attr.hidden]="pageNumber == 3 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>target_audience</h1>
      <div class="break" medium></div>
      <div class="break" small ldisplay></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" redify center>
        <ion-input primary [placeholder]="'age_restriction' | translate" type="text" formControlName="age" autocomplete="off" required></ion-input>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-select multiple="true" [placeholder]="'ethnicity' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="ethnicities" clickable>
          <ion-option [disabled]="true" translate>select_multiple$ellipsis</ion-option>
          <ion-option *ngFor="let option of ethnicities; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-select multiple="true" [placeholder]="'languages_targeted' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="languages" clickable>
          <ion-option [disabled]="true" translate>select_multiple$ellipsis</ion-option>
          <ion-option *ngFor="let option of languages; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- <div class="break" small></div> -->
      <!-- <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-select [placeholder]="'location' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="locationType" clickable>
          <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
          <ion-option *ngFor="let option of locations; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="break" small></div>
      <ion-item *ngIf="newMercialForm.value.locationType == 'city'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-select  multiple="true" [placeholder]="'cities' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="locations" clickable>
          <ion-option [disabled]="true" translate>select_multiple$ellipsis</ion-option>
          <ion-option *ngFor="let option of cities; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="newMercialForm.value.locationType == 'state'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-select  multiple="true" [placeholder]="'states' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="locations" clickable>
          <ion-option [disabled]="true" translate>select_multiple$ellipsis</ion-option>
          <ion-option *ngFor="let option of states; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="newMercialForm.value.locationType == 'zipcode'" no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'zipcode' | translate" type="text" formControlName="locations" autocomplete="location"></ion-input>
      </ion-item> -->
    </section>
    <button clear style="position: fixed; bottom: 20px; left: 10px; z-index: 1;font-size:1.4em" ion-button icon-only type="button" name="back" [disabled]="pageNumber == 1" (click)="onBack()">
      <ion-icon color="primary" name="arrow-back"></ion-icon>
    </button>
    <div class="fd-basis" style="position: fixed; bottom: 20px; width:calc(100% - 25px);">
      <button clear icon-only ion-button type="submit" name="submit" style="font-size: 1.4em" *ngIf="pageNumber == 3" [disabled]="newMercialForm.invalid">
        <ion-icon color="primary" name="md-checkmark"></ion-icon>
      </button>
    </div>
    <button clear style="position: fixed; bottom: 20px; right: 10px; font-size: 1.4em" ion-button icon-only type="button" name="back" [disabled]="pageNumber == 3" (click)="onNext()">
      <ion-icon color="primary" name="arrow-forward"></ion-icon>
    </button>
  </form>
</ion-content>
<mercial-loader inline></mercial-loader>
