<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title translate>help</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list #list no-lines class="fd-message-modal-list">
    <ion-item [attr.message]="message.type" *ngFor="let message of messages; let i = index">
      <ion-avatar center-item item-start *ngIf="message.type == 'sender'">
        <ion-icon avatar-font primary name="finger-print"></ion-icon>
      </ion-avatar>
      <p *ngIf="message.type == 'sender'" [innerHTML]="message.message"></p>

      <ion-avatar center-item item-end *ngIf="message.type == 'reciever'">
        <ion-icon avatar-font primary name="person"></ion-icon>
      </ion-avatar>
      <p text-right *ngIf="message.type == 'reciever'" [innerHTML]="message.message"></p>
    </ion-item>
  </ion-list>
  <form #messageForm="ngForm" (ngSubmit)="onMessageSend(messageForm, list)">
  <ion-item no-border class="fd-message-modal-item">
      <ion-input type="text" [placeholder]="'enter_message' | translate" name="message" autocomplete="off" ngModel required></ion-input>
  </ion-item>
</form>
</ion-content>
