<ion-content>
  <ng-container *ngIf="loaderService.loading !== undefined && !loaderService.loading">
    <div class="break" showWhen="android,windows" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="accountForm" (ngSubmit)="onAccountSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'email_address' | translate }}" type="email" name="email" autocomplete="email" required formControlName="email"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button caps round ion-button color="primary" type="submit" name="submit" [disabled]="accountForm.invalid || !accountForm.dirty">{{'update' | translate}}</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="information" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="infoForm" (ngSubmit)="onInfoSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'advertiser_nickname' | translate }}" type="text" name="name" class="fd-input" autocomplete="additional-name" formControlName="name"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button caps round ion-button color="primary" type="submit" name="submit" [disabled]="infoForm.invalid || !infoForm.dirty">{{'update' | translate}}</button>
          </div>
          <p class="fd-form-text mtb-small" primary>{{ 'info_ft' | translate}}&nbsp;<a [navPush]="Help" [navParams]="{fragment : 'advertiser-name'}" inline translate>more$ellipsis</a></p>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="card" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="paymentForm" (ngSubmit)="onPaymentSubmit()">
          <p class="fd-form-text" text-center *ngIf="paymentFailed" style="color: red" translate>payment_failed_warning</p>
          <div class="break" *ngIf="paymentFailed" small></div>
          <p class="fd-form-text" *ngIf="ccvalid" bold translate [translateParams]="{number : ccend}">last_four_cc</p>
          <div class="break" *ngIf="ccvalid" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'name_on_card' | translate }}" type="text" name="cc-name" class="fd-input" autocomplete="cc-name" formControlName="cc-name"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'card_number' | translate }}" type="text" name="cc-number" class="fd-input" autocomplete="cc-number" [ngModel]="card.number" [ngModelOptions]="{standalone: true}" (ngModelChange)="numChanged($event)" minlength="6" maxlength="34"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-datetime primary placeholder="{{ 'card_exp' | translate }}" displayFormat="MMM YYYY" pickerFormat="MM/YY" [min]="today" max="2080-12" [(ngModel)]="expDate" [ngModelOptions]="{standalone: true}"></ion-datetime>      \
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'cvc' | translate }}" type="text" name="cc-cvc" class="fd-input" autocomplete="cc-csc" [(ngModel)]="card.cvc" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button caps round ion-button color="white" primary type="button" (click)="onScanCard()" name="scan">Scan Card</button>
            <button caps round ion-button color="primary" type="submit" name="submit" [disabled]="paymentForm.invalid">{{'update' | translate}}</button>
          </div>
          <p class="fd-form-text mtb-small" primary translate>cc_ft</p>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="archive" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <ion-item no-margin no-border class="fd-item fd-input-holder" center>
          <ion-select #legalSelect placeholder="{{'legal_doc' | translate}}" style="width:100%; text-align:center; max-width: 100%;" clickable (ionChange)="onLegalView($event)">
            <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
            <ion-option *ngFor="let option of legalDocs; let i = index" [value]="option.value" translate>{{ option.formatted }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="md-trash" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'confirm_email_address' | translate }}" type="text" name="email-confirm-delete" autocomplete="off" formControlName="email" (input)="validateDeletion()"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button caps round ion-button color="primary" type="submit" name="submit" *ngIf="deletionIsValid" [disabled]="deleteAccountForm.invalid" translate>delete</button>
          </div>
          <p class="fd-form-text mtb-small" primary>{{'delete_ft' | translate}}&nbsp;<a [navPush]="Help" [navParams]="{fragment : 'delete-account-info'}" inline translate>more$ellipsis</a></p>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
