<div class="viewer-container-hide" (click)="onHide()">CLOSE</div>
<div class="viewer-container">
  <ng-container>
    <video [controls]="!showControls" [poster]="getThumbnail()" playsinline webkit-playsinline class="fd-modal-video" controlsList="nodownload noremoteplayback" #viewerPlayer>
      <source [src]="video" type="video/mp4"/>
        {{ 'unsupported_browser' | translate }}
    </video>
    <div class="fd-modal-video-handler" *ngIf="showControls">
      <svg height="100" width="100">
        <polygon class="fd-modal-video-play-button" (click)="playVideo()" points="0,0 100,50 0,100" fill="transparent" stroke="rgba(0,0,0,0.8)" stroke-width="1"/>
      </svg>
      <ion-icon class="fd-modal-video-audio" name="volume-up"></ion-icon>
    </div>
  </ng-container>
  <mercial-loader [awaiting]="true" inline></mercial-loader>
</div>
