<ion-header>
  <ion-navbar color="background">
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'analytics_mercial' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="lineChartData[0].data.length > 0">
      <ion-card-header>
        {{'views' | translate}} -&nbsp;<i>{{ name }}</i>
      </ion-card-header>
      <ion-card-content style="padding: 8px">
        <canvas id="chart" *ngIf="ready" baseChart height="100" width="200"
                   [datasets]="lineChartData"
                   [options]="lineChartOptions"
                   [colors]="lineColors"
                   [legend]="false"
                   [labels]="lineChartLabels"
                   [chartType]="lineChartType"
                   (chartClick)="chartClicked($event)">
        </canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="eye" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        {{ views }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        views
      </ion-card-content>
    </ion-card>

    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="ios-people" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        {{ audience }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        audience
      </ion-card-content>
    </ion-card>

    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="happy" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        {{ interests }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        interests
      </ion-card-content>
    </ion-card>

    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="pulse" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        {{ lifespan }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        lifespan
      </ion-card-content>
    </ion-card>
    <span class="break" small></span>
  <mercial-loader [awaiting]="true" inline></mercial-loader>
</ion-content>
