<ion-card mercial flex size="small">
  <img class="mercials-image" [src]="mercial.Cloudinarize(mercial.thumbnail, mercial.widthPixel, 'h_'+mercial.heightPixel+',c_lfill,g_auto')"/>
  <h2 class="card-title" bold>{{ mercial.title }}</h2>
  <p class="card-subtitle" tags><span class="tags" (click)="onTagsClick()" clickable>{{ mercial.getTags() }}</span> &bull; {{ mercial.getSigns()  }}&nbsp;&bull;&nbsp;&nbsp;<ion-icon name="md-time"></ion-icon>&nbsp;&nbsp;{{ mercial.duration.toFixed(0) }} sec</p>
  <div class="card-spacer"></div>
  <div class="card-buttons">
    <button class="little" (click)="onView()" ion-button icon-only>
      <ion-icon name="md-create"></ion-icon>
    </button>
    <button class="big" (click)="onPaused()" [disabled]="loadingPause" ion-button icon-only>
      <ion-icon name="play" *ngIf="mercial.paused"></ion-icon>
      <ion-icon name="pause" *ngIf="!mercial.paused"></ion-icon>
    </button>
    <button class="little" (click)="onAnalytics()" ion-button icon-only>
      <ion-icon name="ios-analytics"></ion-icon>
    </button>
  </div>
</ion-card>
